PORT=8000
MONGODB_URI=mongodb+srv://shamanshetty:indira9900@cluster0.hkggprg.mongodb.net #//if anything goes wrong js remove @
CORS_ORIGIN=*

ACCESS_TOKEN_SECRET=dh2e98fy2492hbb43udh929331?><?|_^EI2BFB2IUFKJBUIWJ2-U898BBBUIBKBIGICJKUIGD   #uses acess token secret to genrate acess token its used cryptographically 
ACCESS_TOKEN_EXPIRY=1d    #after 1 day this token will be expired
REFRESH_TOKEN_SECRET=WBHVWVBUIGWBFUGFB2G839290792HOWRIHddieuqgefuuofehh":><?/.,\+*&^$@!  #refresh token is used to keep user logged or else user will be logged out after the expiry of acess token
REFRESH_TOKEN_EXPIRY=10d    #it will keep you logged in for 10d
